[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[functions]
  directory = "netlify/functions"

[dev]
  command = "npm run dev:vite"
  port = 8888
  targetPort = 5173
  autoLaunch = false
  functions = "netlify/functions"
  framework = "#custom"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200